<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>member</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>membercontroller</servlet-name>
  <servlet-class>member.MemberController</servlet-class>
  <!-- 
  <init-param>
  <param-name>driver</param-name>
  <param-value>org.h2.Driver</param-value>
  </init-param>
  <init-param>
  <param-name>url</param-name>
  <param-value>jdbc:h2:tcp://localhost/~/test</param-value>
  </init-param>
  <param-name>user</param-name>
  <param-value>sa</param-value>
  </init-param>
  <param-name>password</param-name>
  <param-value></param-value>
  </init-param> 
  -->
  </servlet>
  
  <servlet-mapping>
  <servlet-name>membercontroller</servlet-name>
  <url-pattern>/</url-pattern>
  </servlet-mapping>
 <!--  <servlet-mapping>
  <servlet-name>default</servlet-name>
  <url-pattern>favicon.ico</url-pattern>
  </servlet-mapping> -->
  
</web-app>